[run]
source =
    stellar_sdk/
    tests/

[report]
omit =
    .xdr/*
    stellar_sdk/xdr/*
    stellar_sdk/vendor/*
    setup.py

exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    return NotImplemented
    def __repr__
    def __str__
    if self\.debug
    if 0:
    if __name__ == .__main__.:
