language: python
python:
  - 2.7
  - 3.5
  - 3.6

services:
  - docker

cache:
  - pip

before_install:
  - docker pull zulucrypto/stellar-integration-test-network
  - make start

install:
  - make init

script:
  - make test

after_script:
  - make stop

notifications:
  email: false

