language: python
matrix:
  include:
    - name: "Python 3.6 on Xenial Linux"
      python: 3.6
      dist: xenial
    - name: "Python 3.7 on Xenial Linux"
      python: 3.7
      dist: xenial
    - name: "Python 3.7 on macOS"
      os: osx
      osx_image: xcode10.2
      language: shell
    - name: "Python 3.7 on Windows"
      os: windows
      language: shell
      before_install: choco install python
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH

cache:
  - pip

install:
  - pip3 install -r requirements-test.txt

script:
  - pytest -v -rs tests --cov

notifications:
  email: false