-i https://pypi.org/simple/
aiohttp-sse-client==0.2.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
idna==2.10
mnemonic==0.19
multidict==5.1.0
pycparser==2.20
pynacl==1.4.0
requests==2.25.1
six==1.16.0
stellar-base-sseclient==0.0.21
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
