name: Test and Deploy

on:
  push:
  pull_request:
  release:
    types:
      - created

env:
  LATEST_PYTHON_VERSION: '3.11'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}
      - uses: pre-commit/action@v3.0.0

  test:
    needs: pre-commit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11", "pypy3.8", "pypy3.9", "pypy3.10" ]
        # https://endoflife.date/python
    steps:
      - uses: actions/checkout@v3

      - name: Start httpbin server
        run: |
          docker run -d -p 9876:80 kennethreitz/httpbin

      - name: Install poetry
        run: pipx install poetry

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install dependencies
        run: |
          poetry install --extras 'aiohttp'

      - name: Ensure httpbin server is running
        run: |
          while true; do response=$(curl -s -o /dev/null -w "%{http_code}" http://127.0.0.1:9876/get); if [ "$response" = "200" ]; then echo "HTTP 200 OK received"; break; else echo "Retrying..."; sleep 1; fi; done

      - name: Echo installed packages
        run: |
          poetry show

      - name: Test with pytest
        run: poetry run pytest -v -rs tests --runslow --cov=./ --cov-report=xml

      - name: Upload coverage to Codecov
        if: matrix.python-version == ${{ env.LATEST_PYTHON_VERSION }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'created'
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install poetry
        run: pipx install poetry

      - name: Build Packages
        run: poetry build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
